@{
    ViewData["Title"] = "About Me";
}

<h1>About Me</h1>

<p><strong>Name:</strong> Enzo Raquem</p>
<p><strong>Age:</strong> 21</p>
<p><strong>Course & Year:</strong> BSIT - 3rd Year</p>





<h2>📚 My Expectations for Web Systems and Technologies</h2>
<ul>
    <li>I want to learn how to code properly.</li>
    <li>I hope to understand this subject and enhance my coding skill.</li>
    <li>I want to get hands-on experience with databases and user interfaces.</li>
    <li>I want to be confident working with ASP.NET and C#.</li>
    <li>I hope to enjoy coding more by building cool things.</li>
    <li>Thank you for viewing my page!</li>

</ul>
